nodeSelector:
  "eks.amazonaws.com/nodegroup": {{deployment:id}}-core-node
clusterName: {{deployment:id}}-eks
serviceAccount:
  create: true
  name: aws-load-balancer-controller
enableServiceMutatorWebhook: false
serviceMonitor:
  enabled: false
